{% extends "layout.html" %}

{% block body %}
<h3>HAKKIMDA</h3>
<HR>
Merhabalar ben Vedat Demir. İYTE Bilgisayar Mühendisliğinde, Hazırlık sınıfı öğrencisiyim. Bu blog ise benim Flask Frameworku denemek için 
oluşturduğum bir site. Buraya kim niye nasıl girer hiçbir fikrim yok. Yine de eyv girdiğin için. Belki ileride ulan yaptığım salak salak şeylere 
bak diye girerim ve kendi amatörlüğümle dalga geçerim. Ne kadar boş boş yazı yazdım buraya da aq. Neyse dewam.

</HR>



{% endblock body %}
